
.experience{
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.experience h4{
    color: navy;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}.experience p{
    color: rgb(47, 47, 116);
    
}
.section{
    border: 1px dashed rgb(72, 72, 117);
    padding: 1vh 2vh;
    border-radius: 3vh;
    cursor: pointer;
}
.section:hover{
    border: 2px dashed rgb(7, 7, 100);
    transition: all 0.9s ease;
}
.active{
    border: 3px dashed rgb(7, 7, 100);
    font-weight: bold;
}

.anim{
    animation: anim;
    animation-duration: 0.9s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-direction: normal;
    animation-fill-mode: both;

}

.bounceAnim{
    animation: bounceAnim 1.1s both;
}

.animCard{
    position: absolute;
    top: 6rem;
    min-height: 2rem;
    padding: 0.5rem 0.8rem;
    color: white;
    animation: animCard 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dismiss{
    animation: dismissAnim  0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    /* display: none; */
}

@keyframes dismissAnim {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


 @keyframes animCard {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
  
 @keyframes anim {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
      }
  }
  
  @keyframes bounceAnim {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

