
.list-unstyled{
  width: 4vh;
  height: 4vh;
  background-color: navy;
}

@media only screen and (max-width: 625px)  {
  .list-unstyled{
    width: 8vh;
    height: 4vh;
    background-color: navy;
  }
}