.body{
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.cvBody{
    display: flex;
    min-height: 100vh;
    background-color: rgb(235, 238, 241);
}
.sideCl{
    background-color: navy;
    color: white;
    border-right: 4px solid rgb(139, 30, 30);
}
.dwnBtn{
    position: fixed;
    right: 16%;
}
.backBtn{
    position: fixed;
}
@media only screen and (max-width: 768px) {
    .body{
        width: 100%;
    }
    .dwnBtn{
        right: 0;
    }
}